<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <img th:src="@{../../photos/caduceus.jpg}" />
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Your Hospital</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/search}">Search</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>